<!-- <div class="row">
    <div class="col-lg-{{12 / numColumns}} col-md-6 d-flex align-items-stretch" *ngFor="let member of teamMembers">
      <div class="member">
        <div class="member-img">
          <img [src]="member.image" class="img-fluid" alt="">
          <div class="social">
            <a *ngIf="member.twitter" href="{{member.twitter}}"><i class="bi bi-twitter"></i></a>
            <a *ngIf="member.facebook" href="{{member.facebook}}"><i class="bi bi-facebook"></i></a>
            <a *ngIf="member.instagram" href="{{member.instagram}}"><i class="bi bi-instagram"></i></a>
            <a *ngIf="member.linkedin" href="{{member.linkedin}}"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info">
          <h4>{{member.name}}</h4>
          <span>{{member.role}}</span>
        </div>
      </div>
    </div>
  </div>
   -->